.movieCatalog {
  background-color: var(--main-bg-color);
  width: 90vw;
  margin: 1rem auto;
  /* border: 5px solid var(--fourth-bg-color); */
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr 1fr;
}
